<section id="detailSection" class="detail-section">
  <div class="loader">
      <i class="fas fa-spinner fa-spin"></i>
  </div>
  <div id="detail" class="detail-content"></div>
  <div class="quotes-list">
    <h2>Comments</h2>
    <div id="commentList"></div>
  </div>
  <form id="comment-form" class="quote-form" novalidate>
    <div class="quote-input">
      <label for="comment">Comment about this!</label>
      <input id="comment" class="input primary" type="text" autocomplete="off">
    </div>
    <button type="submit" class="button primary">Send</button>
  </form>
</section>