.app-navbar {
    background-color: $primary-color-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 100px;
    min-height: 50px;
    z-index: 3;
    @include tablet {
        padding: 20px;
    }
    a {
        font-size: $logo-font;
        color: $primary-color-light;
        text-shadow: 0 0 $primary-font-size/2 $primary-color-text;
    }
    .navbar-icon {
        font-size: $icons;
        cursor: pointer;
        color: $primary-color-light;
        text-shadow: 0 0 $primary-font-size/2 $primary-color-text;
    }
    .filter-container {
        width: 90%;
        max-width: 480px;
    }
    .filter-input {
        display: flex;
    }
    /* states */
    &.no-search {
        .filter-container,
        .fa-times {
            display: none;
        }
        .navbar-logo,
        .fa-search {
            display: block;
        }
        @include desktop {
            .filter-container {
                display: block;
            }
            .navbar-icon {
                display: none;
            }
        }
    }
    &.search {
        .filter-container,
        .fa-times {
            display: block;
        }
        .navbar-logo,
        .fa-search {
            display: none;
        }
    }
    /* Background */
    picture {
        position: absolute;
        z-index: -1;
        margin-left: -10px;
        @include tablet {
            margin-left: -20px;
        }
        img, source {
            width: 100vw;
            max-height: 70px;
            @include tablet {
                max-height: 90px;
            }
        }
    }
}